BANK MANAGEMENT SYSTEM:  
undertaken as a project is based on relevant technologies. The main aim of this project is to develop software for bank management system. This project is to develop software for bank management system. This project has been developed to carry out the processes easily and quickly, which is not possible with the manuals systems, which are overcome by this software. This project is developed using VB language and. Hence it provides the complete solution for the current management system.

REQUIREMENT ANALYSIS:

Requirements are prone to issues of ambiguity, incompleteness, and inconsistency. Techniques such as rigorous inspection have been shown to help deal with these issues. Ambiguities, incompleteness, and inconsistencies that can be resolved in the requirements phase typically cost orders of magnitude less to correct than when these same issues are found in later stages of product development. Requirements analysis strives to address these issues.

. Take a long time to produce
. Begin to limit the implementation option available
. Are costly to produce

Requirements for both the system and the software are documented and reviewed with the customer.
